@import './constants.scss';

// ENTIRE DASHBOARD AREA - PARENT
.dashboardArea {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

// HEADER CONTAINER
.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.header {
  margin-top: $logoPositionTop - 18px;
  font-size: $headerFontSize;
  color: $header;
}

#leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: $logoPositionLeft - 30px;
}

#rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
}

#listIcon {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 42px;
  margin: 10px;
  padding: 5px;

  &:hover{
    cursor: pointer;
    box-shadow: $boxshadow3;
    color: $gblue;
  }
}

#dashboardLabel {
  position: absolute;
  top: 43px;
  left: 300px;
  margin-left: $logoPositionLeft - 34px;
  &:hover {
    color: $gblue;
    font-weight: 500;
    cursor: pointer;
  }
}

.icon {
  vertical-align: middle;
  text-align: center;
  color: $icon;
  background-color: $background;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: $boxshadow1;
  line-height: 1.5;
  white-space: nowrap;
  display: inline-flex;
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  min-height: auto;
  white-space: nowrap;
}

.navIcon {
  font-size: 34px;
  vertical-align: middle;
  text-align: center;
  color: $icon;
  background-color: transparent;
  box-sizing: content-box;
  border-radius: 50%;
  line-height: 1.5;
  white-space: nowrap;
  // display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  min-height: auto;
  white-space: nowrap;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
}

#searchIcon {
  background-color: $background;
  font-size: 26px;
  font-weight: 400px;
  padding: 8px;
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  
  &:hover {
    cursor: pointer;
    box-shadow: $boxshadow3;
    color: $gblue;
  }
}

// Dashboard Icon
#dashboardIcon {
  margin-left: -35px;
  font-size: 26px;
  padding: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: $boxshadow3;
    // background-color: rgba(255, 255, 255, 0.3);
    background-color: $background;
    color: $ggreen;
  }
}

.dashboardIconArea {
  position: relative;
  display: inline-block;
}

.dashboardIconArea:hover .dashboardTooltip {
    visibility: visible;
} 

.dashboardIconArea .dashboardTooltip {
    visibility: hidden;
    width: 80px;
    background-color: $background;
    color: $ggreen;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 63px;
    right: -14px;
}

.dashboardIconArea .dashboardTooltip::after {
   content: "";
   position: absolute;
   bottom: 50px;
   left: 35px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent $background transparent;
}

// Notification Icon
#notificationsIcon {
  margin-left: 2px;
  font-size: 26px;
  padding: 8px;
  &:hover {
    cursor: pointer;
    box-shadow: $boxshadow3;
    // background-color: rgba(255, 255, 255, 0.3);
    background-color: $background;
    color: $gred;
  }
}

.notificationsIconArea {
  position: relative;
  display: inline-block;
}

.notificationsIconArea:hover .notificationsTooltip {
    visibility: visible;
} 

.notificationsIconArea .notificationsTooltip {
    visibility: hidden;
    width: 80px;
    background-color: $background;
    color: $gred;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 63px;
    right: -14px;
}

.notificationsIconArea .notificationsTooltip::after {
   content: "";
   position: absolute;
   bottom: 37px;
   left: 35px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent $background transparent;
}

// Person Icon
#personIcon {
  margin-right: 30px;
  margin-left: 2px;
  font-size: 26px;
  padding: 8px;
  &:hover {
    cursor: pointer;
    box-shadow: $boxshadow3;
    // background-color: rgba(255, 255, 255, 0.3);
    background-color: $background;
    color: $gyellow;
  }
}

.personIconArea {
  position: relative;
  display: inline-block;
}

.personIconArea:hover .personTooltip {
    visibility: visible;
} 

.personIconArea .personTooltip {
    visibility: hidden;
    width: 80px;
    background-color: $background;
    color: $gyellow;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 63px;
    right: 10px;
}

.personIconArea .personTooltip::after {
   content: "";
   position: absolute;
   bottom: 37px;
   left: 35px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent $background transparent;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 0px;
  padding: 0px;
  color: transparent;
  
  &:hover{
    background-color: transparent;
  }
}

#deleteIcon {
  background: none;
  border: 0;
  outline: none;
  box-shadow: none;
  filter: none;

  &:hover {
    background: none;
    background-color: none;
    color: $warningred;
    filter: none;
    cursor: pointer;
  }
}

.form {
  height: 30px;
  font-weight: 100;
  font-size: inherit;
  color: inherit;
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-items: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

#textInput {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  outline: none;
  border: 0;
  padding: 2px;
  // transform: translateY(-50%);
  transition: all 0.25s ease;
  pointer-events: none;
  text-align: left;
  margin-top: 5px;
}


// DATABASE CARDS
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 80%;
  margin-top: 50px;
  margin-left: 155px;
  margin-right: 160px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s;
  &:after,
  &:before {
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all 0.5s;
  }
  &:hover {
    position: relative;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    &:before,
    &:after {
      width: 25%;
      height: 25%;
    }
  }
};

.card {
  &:hover .databaseIconHeader {
    visibility: hidden;
    // background-color: $gblue;
    // opacity: 0.7;
    // box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  }

  &:hover p {
    color: $background;
    font-weight: 400;
  }
  
  &:hover .cardFooter {
    color: $background;
  }

  &:hover .cardLine {
    background-color: $background;
  }
  
  &:hover #cardFooterText {
    color: $background;
  }

   &:hover .cardFooterIcon {
    color: $background;
  }

   &:hover #databaseName {
    color: $background;
  }
}

#card-1 {
  &:hover .databaseIconHeader {
    visibility: hidden;
    // background-color: $gblue;
    // opacity: 0.7;
    // box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  }

  .databaseIconContainer {
    display: inline-block;
    overflow: visible;
  }

  .databaseIconHeader {
    position: absolute;
    background-color: $ggreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 15px;
    float: left;
    top: -20px;
    left: 180px;
    border-radius: 3px;
    box-shadow: $ggreenboxshadow;
    
    .databaseIcon {
      width: 55px;
      height: 55px;
    }
  }
}

#card-0 {
  &:hover .databaseIconHeader {
    visibility: hidden;
    // background-color: $gblue;
    // opacity: 0.7;
    // box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  }

  .databaseIconContainer {
    display: inline-block;
    overflow: visible;    
  }

  .databaseIconHeader {
    position: absolute;
    background-color: $gyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 15px;
    float: left;
    top: -20px;
    left: 180px;
    border-radius: 3px;
    box-shadow: $gyellowboxshadow;
    background-image: url('../assets/postgres-icon-white.png');
    background-size: cover;
    .databaseIcon {
      width: 55px;
      height: 55px;
      visibility: hidden;
    }
  }
}

.databaseIconContainer {
    display: inline-block;
    overflow: visible;    
  }

  .databaseIconHeader {
    position: absolute;
    background-color: $ggreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 15px;
    float: left;
    top: -20px;
    left: 180px;
    border-radius: 3px;
    box-shadow: $ggreenboxshadow;
    
    .databaseIcon {
      width: 55px;
      height: 55px;
    }
  }

.cardLine {
  background-color: $grey;
  width: 85%;
  border: none;
  height: 1px;
  margin-top: 59px;
  margin-bottom: 15px;
}

.cardFooter {
  width: 90%;
  display: flex;
  height: 20px;
  align-items: center;
  margin-left: 18px;
}

#cardFooterText {
  color: $icon;
  font-size: 11px;
  margin: 0;
  margin-left: 10px;
}

.cardFooterIcon {
  color: $icon;
  font-size: 14px;
  margin: 0;
}

#databaseName {
  margin-top: 40px;
  margin-bottom: 0;
  color: $header;
  font-size: 11px;
}

.dashboardDivider {
  background-color: $mediumgrey;
  width: 95%;
  border: none;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

// BOTTOM TWO ROWS ON DASHBOARD
.lowerContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 95%;
  margin-left: 155px;
  margin-right: 160px;
}

.middleContainersIconHeader {
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 15px;
    float: left;
    border-radius: 3px;
    top: $iconHeaderTop;
    right: $iconHeaderRight;

    .databaseIcon {
      width: 55px;
      height: 55px;
    }
}

.bottomContainersIconHeader {
   position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 15px;
    float: left;
    border-radius: 3px;
    top: $iconHeaderTop;
    right: $iconHeaderRight;

    .databaseIcon {
      width: 55px;
      height: 55px;
    }
}

// MIDDLE ROW ON DASHBOARD
#middleContainer {
  align-content: center;
  text-align: center;
  white-space: nowrap;
  display: flex;
  overflow: visible;
}

// TWO CONTAINERS INSIDE MIDDLE ROW
.containerMiddleRow {
  position: relative;
  width: $middleRowCardWidth;
  background-color: $background;
  color: $darkgrey;
  justify-content: center;
  align-items: center;
  height: $middleRowCardHeight;
  border-radius: 3px;
  box-shadow: $boxshadow4;
  margin: 20px;
}

// MLC
#middleLeftContainer {
  display: inline-block;
  overflow: visible;  
}

#middleLeftContainerIconHeader {
  background-color: $gred;
  box-shadow: $gredboxshadow;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  #globalUsers {
    font-size: 18px;
    font-weight: 300;
  }
  #topicsTitle {
    font-size: 18px;
    font-weight: 300;
  }

  #topicsSubtitle {
    font-size: 14px;
    font-weight: 100;
    margin-top: -20px;
  }

  margin: 20px 0px;
}
  
.titleUnderline {
  background-color: $mediumgrey;
  width: 85%;
  border: none;
  height: 1.5px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.mapArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countryData {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 45%;
}

.flag {
  font-size: 22px;
}

.mapColumn {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px;
  line-height: 22px;
}

.globalMap {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#mapImage {
  width: 90%;
  height: 90%;
}

// MRC
#middleRightContainer {
  display: inline-block;
  overflow: visible;  
}

#middleRightContainerIconHeader {
  background-color: $purple;
  box-shadow: $purpleboxshadow;
}

.middleRowCard {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.middleRowCardLine {
  background-color: $grey;
  width: 94%;
  border: none;
  height: 1px;
  margin: 15px 0px;
}

.middleCardFooter {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -30px;
}

#middleCardFooterText {
  color: $icon;
  font-size: 11px;
  margin: 0;
  margin-left: 10px;
}

#totalUsers {
  font-size: 14px;
  margin-left: 85px;
}

// BOTTOM ROW ON DASHBOARD
#bottomContainer {
  display: flex;
  overflow: visible;
  position: relative;
  align-content: center;
  text-align: center;
  white-space: nowrap;
}

// THREE CONTAINERS INSIDE BOTTOM ROW
.containerBottomRow {
  position: relative;
  width: $bottomRowCardWidth;
  background-color: $background;
  color: $darkgrey;
  justify-content: center;
  align-items: center;
  height: $cardHeight;
  border-radius: 3px;
  box-shadow: $boxshadow4;
  margin: 20px;
}

// BLC
#bottomLeftContainer {
  display: inline-block;
  overflow: visible;  
}

#bottomLeftContainerIconHeader {
  background-color: $purple;
  box-shadow: $purpleboxshadow;
}

.topicsContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}

.topicsColumn {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px;
  line-height: 22px;
}

#questionList {
  text-align: left;
}

.topicsSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-top: -14px;
}


// BCC
#bottomCenterContainer {
  display: inline-block;
  overflow: visible;  
}

#bottomCenterContainerIconHeader {
  background-color: $gblue;
  box-shadow: $gblueboxshadow;
}

// BRC
#bottomRightContainer {
  display: inline-block;
  overflow: visible;  
}

#bottomRightContainerIconHeader {
  background-color: $purple;
  box-shadow: $purpleboxshadow;
}

.bottomRowCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomRowCardLine {
  background-color: $grey;
  width: 90%;
  border: none;
  height: 1px;
  margin-bottom: 8px;
  margin-top: 15px;
}

.bottomCardFooter {
  width: 90%;
  display: flex;
  align-items: center;
}

#bottomCardFooterText {
  color: $icon;
  font-size: 11px;
  margin: 0;
  margin-left: 10px;
}

// FOOTER
#occupiedCopyright {
  color: $header;
}

